body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header, 
nav, 
aside,
section, 
footer {
    background: #ebebeb;
    text-align: center;
}

header {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

nav {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

section {
    float: left;
    width: 495px;
    height: 240px;
    padding: 20px;
    margin: 10px;
    overflow: auto;
    display: block;
    clear: right;
}

article {
    color: #ebebeb;
    background: #777;
    height: 180px;
    margin: 10px;
    padding: 5px;
}

div {
    padding-left: 30px;
}
h2, p{
    width: 300px;
    height: 30px;
    padding: 15px;
    margin: 10px;
    color: #777;
    background: #ebebeb;
}

aside {
    float: left;
    width: 35%;
    height: 240px;
    padding: 20px;
    margin-left: 20px;
    display: block;
}

footer {
    clear: both;
    margin: 10px;
    height: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%
}